@import 'tailwindcss';
@import '@fontsource/inter/index.css';

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
}


@layer base {
   :root {
    --background: 200 55% 95%;
    --foreground: 210 70% 10%;
    --card: 200 60% 100%;
 
    --primary: 210 90% 50%;
    --primary-foreground: 200 40% 98%;
  
    --border: 210 40% 82%;
  }

  .dark {
    --background: 210 60% 4%;
    --foreground: 200 30% 94%;
    --card: 210 55% 12%;
    
    --primary: 210 80% 40%;
    --primary-foreground: 200 20% 92%;
    
    --border: 210 35% 24%;
  }
  
  body {
    --font-family: -apple-system BlinkMacSystemFont, Inter, system-ui, sans-serif;
    @apply bg-stone-100 font-normal font-sans text-stone-300 transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} 

  ::-webkit-scrollbar{
    display: none;
  }

  button{
    cursor: pointer;
    outline: none;
  }